/node_modules
/public/js/laroute.js
/public/img/tutors/*
/public/build/rev-manifest.json
Homestead.yaml
Homestead.json
Envoy.blade.php
.env
/.idea
.DS_Store
/vendor
!vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
!vendor/laravel/framework/src/Illuminate/Database/Eloquent/Collection.php
!vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php