/node_modules
/public/img/tutors/*
/public/build
/public/img/wallpaper
/public/tutor-files
/vendor
/resources/assets/bower
Homestead.yaml
Homestead.json
Envoy.blade.php
.env
/.idea
.DS_Store
.editorconfig
test.php
phones.tsv
file_in.txt
file_out.txt
