body {
  /*background-image: url('../img/wallpapper/3.jpg');*/
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

center.invalid {
    /* also need animation and -moz-animation */
    animation: shakeMac2 .1s linear;
    /*-webkit-animation: shakeMac2 .2s linear;*/
    animation-iteration-count: 2;
}

.input-wrapper {
    margin-bottom: 8px;
    position: relative;
}

.input-wrapper img {
    height: 16px;
    cursor: pointer;
    outline: none !important;
}

.login-icons {
    right: 6px;
    top: 9px;
    position: absolute;
}

.in-process {
    height: 26px !important;
    margin-top: -2px;
}

.login-icons.ng-hide-add {
    -webkit-animation: fadeOut 0.2s;
    display: block!important;
}
.login-icons.ng-hide-remove {
    -webkit-animation: fadeInLeft 0.3s;
}

.input-wrapper input {
    border: none;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 10px 12px;
    font-weight: bold;
    width: 230px;
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, .3);
}

.password-start-typing {
    font: small-caption;
    font-size: 17px;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shakeMac {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes shakeMac2 {
   25% {
       -webkit-transform: translateX(-10px);
   }
   50% {
       -webkit-transform: translateX(0px);
   }
   75% {
       -webkit-transform: translateX(10px);
   }
   0%, 100% {
       -webkit-transform: translateX(0);
   }
}

input:-webkit-autofill {
    background-color: #FAFFBD !important;
}
/*
input[type="password"] {
    font-family: caption;
}*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9a9a9a;
}

.wallpaper-by {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, .3);
    padding: 2px 4px;
    box-shadow: 0 0 20px rgba(255, 255, 255, .3);
    font-size: 13px;
    border-radius: 5px;
}
