.list-group-item {
  .search_icon {
    float: right;
    cursor: pointer;
  }
}


body.modal-open .blur{
  -webkit-filter: blur(4px);
}




#searchModal{
  z-index: 100000;

  .modal-content{
    padding: 10px 15px;

    input, input:focus{
      border: none;
      border-bottom: 1px solid #eee;
      width: 100%;
      height:34px;
      font-size: 18px;
      color: #707070;
      box-shadow:none;
      -webkit-box-shadow: none;
      outline:0;
      margin-bottom: 15px;
    }

    input::-webkit-input-placeholder{
      color: #9d9d9d;
    }
  }

  .resultRow{
    margin: 0px;
    padding: 4px 2px;
    color: #9d9d9d;
  }

  .active{
    background: #f5f5f5;
  }

  .resultRow a{
    text-decoration: underline;
    font-size: 16px;
  }
}


#searchResult{
  overflow-y: scroll;
  width: 100%;
  height: 300px;
}

.notFound{
  font-size: 18px;
  text-align: center;
  color: #9d9d9d;
}

.hide {
  display: none !important;
}